.sideBar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.sideBar__avatar {
  height: 56px;
}

.sideBar__username {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  width: 157px;
}
